@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: #ff4500;
    --secondary-color: #d35400;
    --dark-color: #000000;
    --light-color: #ffffff;
    --gray-color: #1e1e1e;

    --section-gap: 1.5rem;
    --mt-section: 3.5rem;
    --mb-heading: 1rem;
    --mb-paragraph: 1.5rem;
    --mb-title: 0.5rem;
    --border-radius: 0.5rem;
}
* , *::before , *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--dark-color);
    color: var(--light-color);
}
section {
    margin-top: var(--mt-section);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: var(--mb-heading);
}
p {
    margin-bottom: var(--mb-paragraph);
}
a {
    text-decoration: none;
    color: var(--light-color);
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}