.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--section-gap);
}
.row > * {
    flex: 1;
}
.title-area {
    text-align: center;
}
.title-area h2 {
    font-size: 2rem;
    margin-bottom: var(--mb-title);
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: var(--secondary-color);
}
.btn-alt {
    display: inline-block;
    font-weight: 500;
    color: var(--primary-color);
    transition: color 0.3s ease;
}
.btn-alt:hover {
    color: var(--secondary-color);
}
.text-primary {
    color: var(--primary-color);
}


@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .row {
        flex-direction: row;
    }
    .title-area {
        width: 50%;
        margin: 0 auto;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}