/* Preset */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root {
    --primary-color: #ff4500;
    --secondary-color: #d35400;
    --dark-color: #000000;
    --light-color: #ffffff;
    --gray-color: #2e2e2e;
    --rounded-corner: 0.5rem;
}
* , *::before , *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--dark-color);
    color: var(--light-color);
    overflow: hidden;
}
section {
    margin-top: 3.8rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
p {
    margin-bottom: 1.5rem;
}
a {
    text-decoration: none;
    color: var(--light-color);
}
img {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}
ul {
    list-style: none;
}
/* Utility Classes */
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.row > * {
    flex: 1;
}
.title-area {
    text-align: center;
}
.title-area h2 {
    font-size: 2rem;
}
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: var(--secondary-color);
}
.btn-alt {
    display: inline-block;
    font-weight: 500;
    color: var(--primary-color);
    transition: color 0.3s ease;
}
.btn-alt:hover {
    color: var(--secondary-color);
}
.text-primary {
    color: var(--primary-color);
}
/* Preloader */
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dark-color) url(images/loading.svg) no-repeat center;
    z-index: 10;
}
/* Hire Me PopUp */
.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 7;
    display: none;
}
.popup-box {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded-corner);
    background-color: var(--gray-color);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-active {
    display: block;
}
.popup-box .fa-times-circle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
/* Navigation Area */
.nav-section {
    padding: 1rem;
    background-color: var(--dark-color);
    position: sticky;
    top: 0;
    z-index: 6;
    transition: background-color 0.3s ease;
}
.nav-sticky, .show-nav, .nav-sticky .navigation, .show-nav .navigation {
    background-color: var(--gray-color);
}
.nav-sticky {
    box-shadow: 0px 5px 50px var(--dark-color);
}
.nav-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-brand {
    font-size: 1.5rem;
    font-weight: 500;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--dark-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease , background-color 0.3s ease;
}
.show-nav .navigation {
    height: 400px;
    box-shadow: 0px 50px 50px -40px var(--dark-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.nav-link {
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.nav-link:hover, .nav-active {
    color: var(--primary-color);
}
.nav-link.btn {
    color: var(--light-color);
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}
.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--primary-color);
}
.hamburger span:nth-child(1) {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.hamburger span:nth-child(2) {
    width: 20px;
}
.hamburger span:nth-child(3) {
    width: 15px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}
.cross-hamburger {
    position: relative;
}
.cross-hamburger span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}
.cross-hamburger span:nth-child(2) {
    display: none;
}
.cross-hamburger span:nth-child(3) {
    width: 30px;
    transform: rotate(-45deg);
}
/* Hero Section */
.hero-section {
    margin-top: 1rem;
}
.hero-section .btn-alt {
    display: inline-block;
    margin-left: 2rem;
}
/* About Section */
.about-section img {
    border-radius: var(--rounded-corner);
}
.about-section .icon-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.about-section .icon-boxes h1 {
    margin: 0;
    font-size: 2rem;
}
/* Skills Section */
.skills-section .row {
    gap: 0;
}
.skills-section .row > div {
    width: 100%;
}
.progress-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.progress-bar {
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background-color: var(--light-color);
    margin-bottom: 1.5rem;
}
.progress {
    height: 100%;
    background: var(--primary-color) linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
}
/* Services Section */
.card {
    background-color: var(--gray-color);
    padding: 2rem;
    border-radius: var(--rounded-corner);
    position: relative;
    z-index: 1;
}
.card::after {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: -1;
    transition: top 0.5s ease;
}
.card:hover::after {
    top: 0;
    border-radius: inherit;
}
.card:hover * {
    color: var(--light-color);
    transition: color 0.5s ease, background-color 0.5s ease;
}
.card:hover .btn , .card:hover .btn i {
    background-color: var(--light-color);
    color: var(--primary-color);
}
.card > i {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.card > h2 {
    color: var(--primary-color);
}
/* Portfolio Section */
.portfolio-section .swiper-wrapper {
    width: 80%;
    margin: 0 auto;
}
.swiper-slide {
    align-items: flex-start;
}
.portfolio-section img {
    border-radius: var(--rounded-corner);
    max-width: 100%;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.portfolio-section .swiper-button-prev, .portfolio-section .swiper-button-next {
    display: none;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    /* Utility Classes */
    .container {
        width: 720px;
    }
    .row {
        flex-direction: row;
    }
    .title-area {
        width: 50%;
        margin: 0 auto;
    }
    /* Hire Me Popup */
    .popup-box {
        width: 500px;
        height: 400px;
    }
    /* Hero Section */
    .hero-section {
        margin-top: 3.8rem;
    }
    .hero-section .row {
        flex-direction: row-reverse;
    }
    .hero-section h1 {
        font-size: 2.5rem;
    }
    .hero-section .btn-alt {
        display: block;
        margin-left: 0;
        margin-top: 3rem;
    }
    /* Skills Section */
    .skills-section .row {
        gap: 15%;
    }
    /* Services Section */
    .card {
        margin: 1rem;
    }
    /* Portfolio Section */
    .swiper-slide .row {
        align-items: center;
    }
    .portfolio-section .swiper-button-prev, .portfolio-section .swiper-button-next {
        display: block;
    }
    .swiper-button-prev::after, .swiper-button-next::after {
        color: white;
    }
}
@media (min-width: 992px) {
    /* Utility Classes */
    .container {
        width: 960px;
    }
    /* Hire Me PopUp */
    .popup-box {
        width: 700px;
        height: 500px;
    }
    .hamburger {
        display: none;
    }
    .nav-section {
        margin-top: 0.5rem;
    }
    .navigation {
        height: initial;
        position: static;
        flex-direction: row;
        gap: 1rem;
    }
    /* Portfolio Section */
    .portfolio-section .swiper-wrapper {
        width: 60%;
    }
    .swiper-slide .row {
        gap: 3rem;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}